:root{
    --headingColor : #f9d2c7;
    --purple : #c7b9f5;
    --buttonColor : #805cf5;
    --shadow : 3px 3px 3px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

img{
    height: 50px;
}

.heading{
    background-color: var(--headingColor);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    font-size: 40px;
    font-weight: 700;
}

.heading div img{
    display: flex;
}

p{
    font-size: 16px;
    padding: 5px;
}

.bttn-div{
    display: grid;
    justify-content: center;
    padding: 8px;
}

button{
    display: flex;
    gap:5px;
    align-items: center;
    background-color: var(--buttonColor);
    padding: 5px 15px;
    border: none;
    border-radius: 40px;
    box-shadow: var(--shadow);
    font-size: 16px;
    font-weight: 600;
    color:white;
    cursor: pointer;
}

button img{
    height: 20px;
}

button:active{
    box-shadow: none;
}

.book-section{
    background : url("./icons/library-concept-illustration.jpg");
    background-size: contain;
    background-repeat : no-repeat;
    flex:1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
    overflow: auto;
}

.card{
    max-height:200px;
    min-height: 200px;
    max-width: 500px;
    background: linear-gradient(var(--purple),white);
    border-radius: 20px;
    box-shadow: var(--shadow);
    
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap:10px;
    padding: 10px;
}

.card button{
    font-size: 10px;
}

.delete-div{
    display: flex;
    justify-content: center;
    gap:10px;
}

dialog{
    border-radius: 33px;
    border: none;
    background:linear-gradient(var(--purple),white);
}

dialog[open]{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

form{
    border-radius: 30px;
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}

form input{
    padding: 10px;
    height: 30px;
    width: 70%;
    font-size: 15px;
    border-radius: 20px;
    border:none;
    box-shadow: var(--shadow);
}

form input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

input:focus{
    box-shadow: none;
}
